<link rel="stylesheet" href="/css/bootstrap.min.css" />

<div class="container-fluid text-center bg-dark p-2 text-light">
    <footer class="mt-2">
        <h3> Made with Love- Krishna Malhotra </h3>
    </footer>
</div>