<link rel="stylesheet" href="/css/bootstrap.min.css" />

    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark" style="box-shadow: 0px 5px 10px grey;" >
        <a href="/" class="navbar-brand">Codeial</a>
        <ul class="navbar-nav ml-auto">
            <% if(locals.user) {%>
                <li class="nav-item">
                    <a href="/users/profile/<%= user.id %>" class="nav-link ">
                        <%= user.name %>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/users/sign-out" class="nav-link">
                        Sign out
                    </a>
                </li>
             <% } else{ %>
                <li class="nav-item">
                    <a href="/users/sign-in" class="nav-link">
                        Sign in
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/users/sign-up" class="nav-link">
                        Sign up
                    </a>
                </li>
            <% } %>
        </ul>
    </nav>
  