<link rel="stylesheet" href="/css/bootstrap.min.css" />

<div class="container text-center mt-2">
    <h1><%= title %></h1>
</div>
    
<div class="container mt-5">
        <form action="/users/create-session" method="POST">
            <div class="form-group">
                <input type="email" name="email" placeholder="Email" class="form-control" required>
            </div>

            <div class="form-group">
                <input type="password" name="password" placeholder="Password" class="form-control" required>
            </div>
            <div class="form-group">
                <button class="btn btn-success btn-block">Sign In</button>
            </div>
        </form>
</div>